<div cdkDropListGroup>
  <span
    cdkDropList
    (cdkDropListDropped)="dropTrash($event)"
    class="material-icons trash-icon"
    >restore_from_trash</span
  >
  <div class="container">
    <div class="button-row">
      <h1 class="title">{{ list?.title }}</h1>
      <button (click)="openDialogAddGroup()" mat-icon-button>
        <mat-icon>add</mat-icon>
      </button>
    </div>
    <div class="row" cdkDropList id="section-cards">
      <div
        *ngFor="let section of list?.sections; let i = index"
        class="col-6 col-md-4"
        cdkDrag
        [cdkDragData]="{ type: 'section', id: section.id }"
        [cdkDragDisabled]="isUngroupedSection(section.title)"
      >
        <div class="section-header" [class.no-drag]="isUngroupedSection(section.title)" cdkDragHandle>
          <mat-icon *ngIf="!isUngroupedSection(section.title)" class="drag-handle">drag_indicator</mat-icon>
          <h2>{{ section.title }}</h2>
        </div>
        <mat-list role="list">
          <mat-list-item *ngFor="let item of section.items">{{
            item
          }}</mat-list-item>
        </mat-list>
        <div class="add-item-row">
          <input
            #itemInput
            type="text"
            maxlength="40"
            placeholder="New item..."
            (keyup.enter)="
              onAddItemToSection(section.id, itemInput.value);
              itemInput.value = ''
            "
          />
          <button
            mat-icon-button
            (click)="
              onAddItemToSection(section.id, itemInput.value);
              itemInput.value = ''
            "
          >
            <mat-icon>add</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
