<div class="button-row">
  <h1 class="title">{{ list?.title }}</h1>
  <button (click)="openDialogAddGroup()" mat-icon-button>
    <mat-icon>add</mat-icon>
  </button>
</div>

<div class="container">
  <div class="row">
    <div
      *ngFor="let section of list?.sections; let i = index"
      class="col-6 col-md-4"
    >
      <div class="section-header">
        <h2>{{ section.title }}</h2>
        <button
          mat-icon-button
          class="section-delete"
          (click)="onRemoveSection(section.id)"
        >
          <mat-icon>close</mat-icon>
        </button>
      </div>
      <mat-list role="list">
        <mat-list-item *ngFor="let item of section.items">{{
          item
        }}</mat-list-item>
      </mat-list>
      <div class="add-item-row">
        <input
          #itemInput
          type="text"
          maxlength="40"
          placeholder="New item..."
          (keyup.enter)="
            onAddItemToSection(section.id, itemInput.value);
            itemInput.value = ''
          "
        />
        <button
          mat-icon-button
          (click)="
            onAddItemToSection(section.id, itemInput.value);
            itemInput.value = ''
          "
        >
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>
