@import url("https://fonts.googleapis.com/css2?family=Grape+Nuts&family=Norican&display=swap");
/* CSS taken from this websites: 
- https://codepen.io/michellebarker/pen/jOzOqNg
- https://codepen.io/wheatup/pen/GRyxmRb 
- more examples: https://freefrontend.com/css-lists/ */

h1 {
  font-family: "Norican", cursive;
  color: saddlebrown;
  position: relative;
  display: flex;
  align-items: center;
  font-size: 2rem;
  align-items: center;
  justify-content: center;
  @media only screen and (orientation: landscape) {
    font-size: 4rem;
    margin: 2rem;

    &::before,
    &::after {
      content: "";
      display: block;
      width: 5rem;
      height: 2px;
      background-color: currentColor;
      margin: 0 1rem;
    }
  }
}

h2 {
  font-size: 16px;
  @media only screen and (orientation: landscape) {
    font-size: 20px;
  }
}

.main-table {
  @media only screen and (orientation: landscape) {
    width: 65%;
    margin: 0 auto;
  }
}

mat-grid-list {
  list-style-position: inside;
  background: white;
  padding: 0;
  margin: 0;
  border-radius: 0.1rem;
}

mat-grid-tile {
  &:hover {
    background-color: lightblue;
  }
}

mat-grid-tile:not(:last-child) {
  border-bottom: 1px solid lightblue;
  border-right: 1px solid lightblue;
}

mat-grid-tile:first-child {
  margin-top: 1rem;
}

mat-grid-tile:last-child {
  margin-bottom: 1rem;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
