/* CSS taken from this website: https://codepen.io/michellebarker/pen/jOzOqNg 
more examples here: https://freefrontend.com/css-lists/ */

mat-grid-list {
  list-style-position: inside;
  background: white;
  box-shadow: 0.25rem 0.25rem 0.75rem rgb(0 0 0 / 0.15);
  padding: 0;
  margin: 0;
  border-radius: 0.1rem;
}

mat-grid-tile {
  padding: 0 0 0 1rem;
}

mat-grid-tile:not(:last-child) {
  border-bottom: 1px solid lightblue;
  border-right: 1px solid lightblue;
}

mat-grid-tile:first-child {
  margin-top: 1rem;
}

mat-grid-tile:last-child {
  margin-bottom: 1rem;
}
