<h1 mat-dialog-title>Add agroupations</h1>
<div mat-dialog-content>
  <section class="example-section">
    <h4>Select your agroupations:</h4>
    <p>
      <mat-checkbox
        (click)="onAgroupation(agruoupation.id)"
        *ngFor="let agruoupation of agruoupations"
        >{{ agruoupation.title }}</mat-checkbox
      >
    </p>
  </section>
</div>
<div mat-dialog-actions>
  <button [mat-dialog-close]="result" mat-button mat-dialog-close>No</button>
  <button
    mat-button
    mat-dialog-close
    cdkFocusInitial
    [mat-dialog-close]="result"
  >
    Ok
  </button>
</div>
