h1 {
  font-family: "Norican", cursive;
  color: saddlebrown;
  position: relative;
  display: flex;
  align-items: center;
  font-size: 2rem;
  align-items: center;
  justify-content: center;
  @media only screen and (orientation: landscape) {
    font-size: 4rem;
    margin: 2rem;
    padding-bottom: 24px;

    &::before,
    &::after {
      content: "";
      display: block;
      width: 5rem;
      height: 2px;
      background-color: currentColor;
      margin: 0 1rem;
    }
  }
}

h2 {
  font-size: 16px;
  margin-bottom: 0px;
  @media only screen and (orientation: landscape) {
    font-size: 20px;
    margin-bottom: 16px;
  }
}

mat-list-item {
  text-align: center;
  @media only screen and (orientation: landscape) {
    text-align: left;
  }
  &:hover {
    background-color: lightblue;
  }
}

.button-row {
  display: flex;
  align-items: center;
  @media only screen and (orientation: landscape) {
    width: 50%;
    margin: 0 auto;
  }
}
